site_name: escflee

theme:
  name: material

nav:
  - 课程:
    - 操作系统:
      - 文件管理: 课程/操作系统/文件管理.md
      - 进程管理: 课程/操作系统/进程管理.md
    - 编译原理:
      - 语法分析: 课程/编译原理/语法分析.md

markdown_extensions:
  - pymdownx.arithmatex: # latex支持
      generic: true

extra_javascript:
  # latex支持
  # check https://squidfunk.github.io/mkdocs-material/reference/mathjax/?h=math for more information
  # notice `curl https://polyfill.io/v3/polyfill.min.js?features=es6 > docs/mkdocs/javascripts/polyfill.min.js && curl https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js > docs/mkdocs/javascripts/tex-mml-chtml.js` not works... because there are other resources that need to load
  - mkdocs/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js # https://cdn.bytedance.com/?query=mathjax&version=3.2.0